# Copier ce fichier pour votre .env perso et mettez vos valeurs

# PostgreSQL
DATABASE_URL=postgresql://rtc:rtc_password@localhost:5432/rtc_db

# MongoDB 
MONGODB_URI=mongodb://root:password@localhost:27017/?authSource=admin

# JWT
JWT_SECRET=change-me-to-a-random-string
JWT_EXPIRATION=86400

# Port du serveur
PORT=3001
